@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2; /* Light gray background for contrast */
  color: #333; /* Dark text for readability */
}